{% extends 'base.html' %}
{% load static %}
{% block extrahead %}
<!--<link href="{% static 'css/election_official_page.css'%}" rel="stylesheet" type="text/css">-->
{% endblock %}
{% block content %}

<div class="election-form">
    <form class="election-form" action="{% url 'ec_official_profile' %}" , method="post">
       {% csrf_token %}
        <h1>Create New Election</h1>
        <p>
          <label for = "start_date"> Enter start date of election :</label>
          <input type = "date" name = "start_date" id = "start_date" required>
        </p>
        <p>
          <label for = "end_date"> Enter end date of election :</label>
          <input type = "date" name = "end_date" id = "end_date" required>
        </p>
        <p>
          <input type="submit" name="submit" value="Submit Dates">
        </p>
      </form>
</div>
{% endblock%}