{% extends 'base.html' %}
{% load static %}
<!-- background image By A.Savin (Wikimedia Commons · WikiPhotoSpace) - Own work, FAL, https://commons.wikimedia.org/w/index.php?curid=49129197 -->
{% load static %}
{% block extrahead %}
<link href="{% static 'css/voter_view1.css'%}" rel="stylesheet" type="text/css">
 
{% endblock %}
{% block rightlist %}
<li>    
    <a href="{% url 'home' %}">
        <span class="glyphicon glyphicon-log-out"></span>
        Logout
    <!-- <img  class="icon1" src="{% static 'images/log-out.PNG' %}" width="40" height="40"> -->
    </a>
</li>
{% endblock %}
{% block leftlist %}
<li><a href="{% url 'voter_view1' id%}"> Cast vote</a></li>
<li><a href="{% url 'voter_view2' id %}">Personal Details</a></li>
<li><a href="{% url 'reg_cand' id %}">Candidate</a></li>
<li><a href="{% url 'voter_view3' id%}">Wealth Update</a></li>

{% endblock %}

{%block content%}

<!-- <div id="mySidenav" class="sidenav">
  <a   class="closebtn" onclick="closeNav()">&times;</a>
  <a href="{% url 'voter_view1' id %}"> Cast vote</a>
  <a href="{% url 'voter_view2' id %}">Personal Details</a>
  <a href="{% url 'reg_cand' id %}">Candidate</a>
  <a href="{% url 'voter_view3' id %}">Wealth/Profession Update</a>
  
</div> -->

<div class="container-fluid" id="wrap">

     
     <!-- <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;  </span> -->
    <!-- credits https://codepen.io/jkantner/pen/rNaPadg -->
    <form class="choices"   action="{% url 'voter_view1' id %}" , method="post">
{% csrf_token %}
        {% for t in imgs %}
        <div >
         
            <input id="a" type="radio" name="hopping" value={{t.4}} checked>
        <label  for="a">  {{ t.0 }} {{ t.1 }} PARTY: {{ t.2 }}
          <!-- {{ table.t.1 }} PARTY:{{ table.t.2 }}  -->
          <img src="data:image/jpeg;base64,{{ t.3  }}">
        </label>         
        </div>
        {% endfor %}
        
        
     
         <div >
            <input id="c" type="radio" name="hopping" value="c">
        <label  for="c"> NOTA </label>
        </div>
            <div class="cta-container">
                    <button id="reg-submit-button" name="castvote" type="submit" data-rapid-tracking="true" data-ylk="elm:btn;elmt:nxt;slk:continue;mKey:registration-continue" class="pure-button puree-button-primary puree-spinner-button">CAST VOTE</button>
            </div>
            <center>Note: Once casted, the vote cannot change.
            </center>
    </form>

      <!-- xxxxxxxxxxxxx -->
</div>
   
<script src="{% static 'js/voter_official.js' %}"></script>
{%endblock%}